Web References/PreStockReplenishmentService/IPreStockReplenishmentSoapService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:tns="http://tempuri.org/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="IPreStockReplenishmentSoapService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <xsd:element name="Post">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="preStockReplenishmentsDto" nillable="true" type="tns:ArrayOfPreStockReplenishmentDto" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PostResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="PostResult" type="tns:ApiResponse" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOfPreStockReplenishmentDto">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="PreStockReplenishmentDto" nillable="true" type="tns:PreStockReplenishmentDto" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ApiResponse">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="IsSuccess" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Message" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PreStockReplenishmentDto">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:BasePreTransactionCreateDto">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="LocationId" type="xsd:int" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="BasePreTransactionCreateDto">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="IsForPosting" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Barcode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DeviceId" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ProductId" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Quantity" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ScanDate" nillable="true" type="xsd:dateTime" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPreStockReplenishmentSoapService_Post_InputMessage">
    <wsdl:part name="parameters" element="tns:Post" />
  </wsdl:message>
  <wsdl:message name="IPreStockReplenishmentSoapService_Post_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostResponse" />
  </wsdl:message>
  <wsdl:portType name="IPreStockReplenishmentSoapService">
    <wsdl:operation name="Post">
      <wsdl:input message="tns:IPreStockReplenishmentSoapService_Post_InputMessage" />
      <wsdl:output message="tns:IPreStockReplenishmentSoapService_Post_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPreStockReplenishmentSoapService_soap" type="tns:IPreStockReplenishmentSoapService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Post">
      <soap:operation soapAction="http://tempuri.org/IPreStockReplenishmentSoapService/Post" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IPreStockReplenishmentSoapService">
    <wsdl:port name="BasicHttpBinding_IPreStockReplenishmentSoapService_soap" binding="tns:BasicHttpBinding_IPreStockReplenishmentSoapService_soap">
      <soap:address location="http://192.168.1.112:8090/PreStockReplenishmentService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>