Web References/ProductService/IProductSoapService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:tns="http://tempuri.org/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="IProductSoapService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <xsd:element name="GetAll">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="isActive" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetAllResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="GetAllResult" nillable="true" type="tns:ArrayOfProductDto" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetPaged">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="isActive" type="xsd:boolean" />
            <xsd:element minOccurs="1" maxOccurs="1" name="pageNumber" type="xsd:int" />
            <xsd:element minOccurs="1" maxOccurs="1" name="pageSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetPagedResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="GetPagedResult" nillable="true" type="tns:ArrayOfProductDto" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecordCount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="isActive" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecordCountResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecordCountResult" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOfProductDto">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ProductDto" nillable="true" type="tns:ProductDto" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ProductDto">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Barcode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Brand" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Category" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="IsActive" type="xsd:boolean" />
          <xsd:element minOccurs="1" maxOccurs="1" name="PackingSize" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PackingUnit" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ProductId" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ProductParentId" nillable="true" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ProductImageUrl" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ProductName" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="SellingPrice" nillable="true" type="xsd:decimal" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductSoapService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IProductSoapService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IProductSoapService_GetPaged_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPaged" />
  </wsdl:message>
  <wsdl:message name="IProductSoapService_GetPaged_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPagedResponse" />
  </wsdl:message>
  <wsdl:message name="IProductSoapService_GetRecordCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordCount" />
  </wsdl:message>
  <wsdl:message name="IProductSoapService_GetRecordCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordCountResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductSoapService">
    <wsdl:operation name="GetAll">
      <wsdl:input message="tns:IProductSoapService_GetAll_InputMessage" />
      <wsdl:output message="tns:IProductSoapService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPaged">
      <wsdl:input message="tns:IProductSoapService_GetPaged_InputMessage" />
      <wsdl:output message="tns:IProductSoapService_GetPaged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecordCount">
      <wsdl:input message="tns:IProductSoapService_GetRecordCount_InputMessage" />
      <wsdl:output message="tns:IProductSoapService_GetRecordCount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductSoapService_soap" type="tns:IProductSoapService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IProductSoapService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaged">
      <soap:operation soapAction="http://tempuri.org/IProductSoapService/GetPaged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecordCount">
      <soap:operation soapAction="http://tempuri.org/IProductSoapService/GetRecordCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IProductSoapService">
    <wsdl:port name="BasicHttpBinding_IProductSoapService_soap" binding="tns:BasicHttpBinding_IProductSoapService_soap">
      <soap:address location="http://192.168.31.93:8090/ProductService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>