Web References/ProductService/IProductService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:tns="http://tempuri.org/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="IProductService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <xsd:element name="Products">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="isActive" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ProductsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ProductsResult" nillable="true" type="tns:ArrayOfProductGetAllDto" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ProductsPaged">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="isActive" type="xsd:boolean" />
            <xsd:element minOccurs="1" maxOccurs="1" name="pageNumber" type="xsd:int" />
            <xsd:element minOccurs="1" maxOccurs="1" name="pageSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ProductsPagedResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ProductsPagedResult" nillable="true" type="tns:ArrayOfProductGetAllDto" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RecordCount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="isActive" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RecordCountResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="RecordCountResult" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOfProductGetAllDto">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ProductGetAllDto" nillable="true" type="tns:ProductGetAllDto" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ProductGetAllDto">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Barcode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Brand" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Category" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="IsActive" type="xsd:boolean" />
          <xsd:element minOccurs="1" maxOccurs="1" name="PackingSize" nillable="true" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ProductParentId" nillable="true" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ProductId" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ProductImageUrl" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ProductName" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="SellingPrice" nillable="true" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PackingUnit" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductService_Products_InputMessage">
    <wsdl:part name="parameters" element="tns:Products" />
  </wsdl:message>
  <wsdl:message name="IProductService_Products_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_ProductsPaged_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductsPaged" />
  </wsdl:message>
  <wsdl:message name="IProductService_ProductsPaged_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductsPagedResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_RecordCount_InputMessage">
    <wsdl:part name="parameters" element="tns:RecordCount" />
  </wsdl:message>
  <wsdl:message name="IProductService_RecordCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecordCountResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductService">
    <wsdl:operation name="Products">
      <wsdl:input message="tns:IProductService_Products_InputMessage" />
      <wsdl:output message="tns:IProductService_Products_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductsPaged">
      <wsdl:input message="tns:IProductService_ProductsPaged_InputMessage" />
      <wsdl:output message="tns:IProductService_ProductsPaged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecordCount">
      <wsdl:input message="tns:IProductService_RecordCount_InputMessage" />
      <wsdl:output message="tns:IProductService_RecordCount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductService_soap" type="tns:IProductService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Products">
      <soap:operation soapAction="http://tempuri.org/IProductService/Products" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductsPaged">
      <soap:operation soapAction="http://tempuri.org/IProductService/ProductsPaged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecordCount">
      <soap:operation soapAction="http://tempuri.org/IProductService/RecordCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IProductService">
    <wsdl:port name="BasicHttpBinding_IProductService_soap" binding="tns:BasicHttpBinding_IProductService_soap">
      <soap:address location="http://192.168.89.1:8081/ProductService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>