Web References/LocationService/ILocationSoapService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:tns="http://tempuri.org/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="ILocationSoapService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <xsd:element name="Locations">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="isActive" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="LocationsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="LocationsResult" nillable="true" type="tns:ArrayOfLocationDto" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOfLocationDto">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="LocationDto" nillable="true" type="tns:LocationDto" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LocationDto">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="LocationId" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="IsActive" type="xsd:boolean" />
          <xsd:element minOccurs="1" maxOccurs="1" name="IsBadOrder" type="xsd:boolean" />
          <xsd:element minOccurs="1" maxOccurs="1" name="IsSellingArea" type="xsd:boolean" />
          <xsd:element minOccurs="1" maxOccurs="1" name="IsWarehouse" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="LocationName" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILocationSoapService_Locations_InputMessage">
    <wsdl:part name="parameters" element="tns:Locations" />
  </wsdl:message>
  <wsdl:message name="ILocationSoapService_Locations_OutputMessage">
    <wsdl:part name="parameters" element="tns:LocationsResponse" />
  </wsdl:message>
  <wsdl:portType name="ILocationSoapService">
    <wsdl:operation name="Locations">
      <wsdl:input message="tns:ILocationSoapService_Locations_InputMessage" />
      <wsdl:output message="tns:ILocationSoapService_Locations_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILocationSoapService_soap" type="tns:ILocationSoapService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Locations">
      <soap:operation soapAction="http://tempuri.org/ILocationSoapService/Locations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ILocationSoapService">
    <wsdl:port name="BasicHttpBinding_ILocationSoapService_soap" binding="tns:BasicHttpBinding_ILocationSoapService_soap">
      <soap:address location="http://192.168.1.112:8090/LocationService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>