Web References/PreStockReceiptService/IPreStockReceiptSoapService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:tns="http://tempuri.org/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="IPreStockReceiptSoapService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <xsd:element name="GetAll">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="GetAllResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="GetAllResult" nillable="true" type="tns:ArrayOfGetAllPreStockReceiptQueryRequestDto" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Post">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="preStockReceiptsDto" nillable="true" type="tns:ArrayOfCreatePreStockReceiptCommandRequestDto" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PostResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="PostResult" type="tns:ApiResponse" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOfGetAllPreStockReceiptQueryRequestDto">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="GetAllPreStockReceiptQueryRequestDto" nillable="true" type="tns:GetAllPreStockReceiptQueryRequestDto" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfCreatePreStockReceiptCommandRequestDto">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="CreatePreStockReceiptCommandRequestDto" nillable="true" type="tns:CreatePreStockReceiptCommandRequestDto" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ApiResponse">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="IsSuccess" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Message" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="GetAllPreStockReceiptQueryRequestDto">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:BasePreTransactionGetDto">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="Id" type="xsd:int" />
              <xsd:element minOccurs="1" maxOccurs="1" name="PurchaseOrderNumber" nillable="true" type="xsd:int" />
              <xsd:element minOccurs="1" maxOccurs="1" name="QuantityOnOrder" type="xsd:int" />
              <xsd:element minOccurs="0" maxOccurs="1" name="SupplierInvoiceNumber" type="xsd:string" />
              <xsd:element minOccurs="0" maxOccurs="1" name="SupplierName" type="xsd:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="CreatePreStockReceiptCommandRequestDto">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:BasePreTransactionCreateDto">
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="Id" type="xsd:int" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="BasePreTransactionGetDto">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="IsForPosting" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Barcode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DeviceId" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="LineNumber" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PackingUnit" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ProductId" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ProductName" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Quantity" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ScanDate" nillable="true" type="xsd:dateTime" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BasePreTransactionCreateDto">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="IsForPosting" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Barcode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DeviceId" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ProductId" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Quantity" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ScanDate" nillable="true" type="xsd:dateTime" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPreStockReceiptSoapService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IPreStockReceiptSoapService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IPreStockReceiptSoapService_Post_InputMessage">
    <wsdl:part name="parameters" element="tns:Post" />
  </wsdl:message>
  <wsdl:message name="IPreStockReceiptSoapService_Post_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostResponse" />
  </wsdl:message>
  <wsdl:portType name="IPreStockReceiptSoapService">
    <wsdl:operation name="GetAll">
      <wsdl:input message="tns:IPreStockReceiptSoapService_GetAll_InputMessage" />
      <wsdl:output message="tns:IPreStockReceiptSoapService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Post">
      <wsdl:input message="tns:IPreStockReceiptSoapService_Post_InputMessage" />
      <wsdl:output message="tns:IPreStockReceiptSoapService_Post_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPreStockReceiptSoapService_soap" type="tns:IPreStockReceiptSoapService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IPreStockReceiptSoapService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Post">
      <soap:operation soapAction="http://tempuri.org/IPreStockReceiptSoapService/Post" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IPreStockReceiptSoapService">
    <wsdl:port name="BasicHttpBinding_IPreStockReceiptSoapService_soap" binding="tns:BasicHttpBinding_IPreStockReceiptSoapService_soap">
      <soap:address location="http://192.168.1.112:8090/PreStockReceiptService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>